@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

input{
  height: 2rem;
  width: 180px;
}

select {
  -webkit-appearance: none; /* WebKit/Blink Browsers */
  -moz-appearance: none; /* Gecko Browsers */
  appearance: none;
  background-image: url('./assets/down_arrow.svg'); /* Custom arrow image */
  background-repeat: no-repeat;
  background-position: right center; /* Adjust position of arrow */
}